{{#if search}}
  <div class="Ted-select__searchable">
    <label {{action "toggleSearchInput"}} class="Ted-select__searchable-label">
      {{searchableLabel}}
    </label>
    {{#if allowAddItem}}
      {{ember-selectize
        content=optionsContent
        optionLabelPath=optionLabelPath
        optionValuePath=optionValuePath
        placeholder=searchPrompt
        select-item="updateOptionFromSearch"
        update-filter="updateFilter"
        create-item="addItem"
        selection=selectizeSelection
        classNames="Ted-select__searchable-selectize"
      }}
    {{else}}
      {{ember-selectize
        content=optionsContent
        optionLabelPath=optionLabelPath
        optionValuePath=optionValuePath
        placeholder=searchPrompt
        select-item="updateOptionFromSearch"
        update-filter="updateFilter"
        selection=selectizeSelection
        classNames="Ted-select__searchable-selectize"
      }}
    {{/if}}
  </div>
{{else}}
  {{view "select"
    class=selectClassNames
    content=optionsContent
    optionLabelPath=optionLabelPath
    optionValuePath=optionValuePath
    prompt=prompt
    selection=selectedOption
  }}
{{/if}}
