
{{#ember-markdown-section}}
  ### Basic usage

  Call `ember-ted-select` in your template by providing a list of options and an action to trigger when the value of the select changes.

  Remember, the selected value is not two-way bound. It's up to you to handle the new value within your action.
{{/ember-markdown-section}}

<div class="row">
  <div class="col-md-6">
    {{code-snippet name="basic.hbs"}}
    {{code-snippet name="basic.js"}}
  </div>

  <div class="col-md-6">
    {{!-- BEGIN-SNIPPET basic  --}}
{{ted-select
  content=TEDevents
  on-change=(action "update")}}

Selected: {{selected.title}}
    {{!-- END-SNIPPET --}}
    <br>
  </div>
</div>
<br>

{{#ember-markdown-section}}
By default, the add-on will look for `content.id` for the option `value` attribute, and `content.title` for the option label. You can specify alternate keys using `optionLabelKey` and `optionValueKey`.
{{/ember-markdown-section}}

<div class="row">
  <div class="col-md-6">
    {{code-snippet name="basic-options.hbs"}}
  </div>
</div>