<select
  onchange={{action "onChange" value="target"}}
  class={{selectClassNames}}
  multiple={{multiple}}>
  <option
    value=""
    selected={{ted-select-is-equal null selected}}>
    {{prompt}}
  </option>
  {{#each sortedContent key="@index" as |option|}}
    <option
      value="{{ted-select-get option optionValueKey}}"
      selected={{ted-select-is-equal option selected}}
      disabled={{ted-select-get option optionDisabledKey}}>
      {{ted-select-get option optionLabelKey}}
    </option>
  {{/each}}
</select>
