{{#if search}}
  <div class="Ted-select__searchable">
    <label {{action "toggleSearchInput"}} class="Ted-select__searchable-label">
      {{searchableLabel}}
    </label>
    {{#if allowAddItem}}
      {{ember-selectize
        content=optionsContent
        optionLabelPath=optionLabelPath
        optionValuePath=optionValuePath
        placeholder=searchPrompt
        select-item="updateOptionFromSearch"
        update-filter="updateFilter"
        create-item="addItem"
        selection=selectizeSelection
        classNames="Ted-select__searchable-selectize"
      }}
    {{else}}
      {{ember-selectize
        content=optionsContent
        optionLabelPath=optionLabelPath
        optionValuePath=optionValuePath
        placeholder=searchPrompt
        select-item="updateOptionFromSearch"
        update-filter="updateFilter"
        selection=selectizeSelection
        classNames="Ted-select__searchable-selectize"
      }}
    {{/if}}
  </div>
{{else}}
  <select
    onchange={{action "onChange" value="target.value"}}
    class={{selectClassNames}}>
    <option
      selected={{isNullSelection}}>
      {{prompt}}
    </option>
    {{#each content key="@index" as |option|}}
      <option
        value="{{ted-select-get option optionValuePath}}"
        selected={{ted-select-is-equal option selected}}>
        {{ted-select-get option optionLabelPath}}
      </option>
    {{/each}}
  </select>
{{/if}}
