<select
  onchange={{action "onChange" value="target"}}
  id={{selectId}}
  class={{selectClassNames}}
  multiple={{multiple}}
  disabled={{disabled}}
  name={{name}}>
  {{#if prompt}}
  <option
    value=""
    selected={{ted-select-is-equal null selected}}
    class="Ted-select__prompt">
    {{prompt}}
  </option>
  {{/if}}
  {{#each options key="@index" as |option|}}
    <option
      value="{{get option optionValueKey}}"
      selected={{ted-select-is-equal option selected}}
      disabled={{get option optionDisabledKey}}>
      {{get option optionLabelKey}}
    </option>
  {{/each}}
</select>